<section class="container">

  <h1 class="text-center mb-3">Formulaire de connexion</h1>
    <div class="card mb-5 p-3 col-md-6 mx-auto">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >

          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" formControlName="email" id="email" class="form-control" required>
            <div *ngIf="!(loginForm) || loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">
              L'email est obligatoire.
            </div>
          </div>

          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" formControlName="password" id="password" class="form-control" required>
            <div *ngIf="!(loginForm) || loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
              Le mot de passe est obligatoire.
            </div>
          </div>
          <div class="row flex-column">
            <a>Pas encore de compte veillez vous inscrire</a>
            <button class="btn btn-primary">Se Connecter</button>
          </div>
        </form>
      </div>
    </div>

</section>
