<div class="home-banner">
  <img class="banner-image" src="../assets/images/banner.jpg" alt="" />
  <div class="banner-content">
    <img src="../assets/images/logo.png" class="logo" alt="" />
    <nav class="navbar">
      <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Locations</a></li>
        <li><a routerLink="/ventes">Ventes</a></li>
        <li><a routerLink="/contacts">Contact</a></li>
      </ul>
    </nav>
    <div class="auth-buttons">
      <a href="#" class="btn">Se connecter</a>
      <a href="#" class="btn">S'inscrire</a>
    </div>
  </div>
</div>
